<section class="divider-bars">
  <h3>About</h3>
  <p>SteamLeft takes all the games in your steam library and compares your playtime for each game with the amount of time it takes to beat that game. Then it adds up all the differences to give you the total time in would take to beat all the remaining games in your library. These numbers are just rough estimations, but it is a fun figure to think about.</p>

  <p>SteamLeft was made in a weekend (give or take) by two guys who have too many Steam games. Data on game time is taken from <%= link_to "HowLongToBeat.com", "http://howlongtobeat.com/" %>. Random facts about what you could be doing in your free time instead of beating your Steam library were taken from all over the internet. Be sure to see them all!</p>

  <p>SteamLeft is being continuously updated with more facts, better features, newly-released games, and continued dismay at the time required to beat out Steam libraries. If you’d like to help ease our pains of webhosting or just buy us a cup of coffee, please consider donating.</p>

  <div class="center">
    <a href="https://www.coinbase.com/steamleft" class="bitcoin-donate"><%= image_tag "bitcoin_donate.png", height: "30px" %></a>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin-top: 20px;">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="nic.major.d@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="SteamLeft">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</section>