<section class="divider-bars">
  <h3>Privacy Policy</h3>
  <p>SteamLeft doesn’t collect any information on it’s visitors except in the following ways:</p>

  <ul>
    <li>The Steam Web API is used to retrieve public profile data for the account you’ve looked up. When you use the “Log In Through Steam” option, Valve gives us your public profile information, but we only use your SteamID and no other account information. SteamLeft does not store any data, including your SteamID, at any time.</li>

    <li>SteamLeft uses Google Analytics to analyze site performance and check uptime, etc. This data is all anonymous. But this may inadvertently store your SteamID because your SteamID is part of the URL of your SteamLeft page. So keep that in mind.</li>

    <li>Also, we use AddThis for our social sharing buttons which does track social sharing statistics for us, so keep that in mind when using the share buttons. If you copy and paste the URL into facebook or twitter, then this does not track anything.</li>
  </ul>

  <p>We do not store or share user data with third parties under any circumstances.</p>

  <p>At this time, SteamLeft does not use any forms of advertising or any affiliate programs. Should this or any other update policy need changing, all programs, instances, and altercations will be added to the privacy policy on this page.</p>
</section>