<%= image_tag distribution.image_url, :height => '100px', :align => 'left', :class => 'dist-image' %>
<%= distribution.description_with_num playtime_differential %>
<div class="clear center refresh"> Click here to for more of these.</div>