// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body { background: #1b2638; }

header { text-align: center; background: #161920; color: #b7b7b7; padding-bottom: 30px; }
main { color: #c6d4df; margin-top: 50px; }
input[type='text'], input[type='number'], input[type='submit'], textarea { color: black; }

.divider-bars { background: #141e2c; opacity: 0.85; padding: 25px; }
.or-bar { margin: 30px 0; text-align: center; }
.divider-bars h4 { margin: 0 0 20px 0; text-align: center; }
.steam-login { text-align: center; }
.steam-url { margin-right: 5px; }
.steam-id {
  text-align: center;
  input { height: 29px; }
}
.steam-screen-name { font-size: 40px; }
.day-words { margin: 0 10px 0 0; }
.hour-words { margin: 0 10px 0 10px; }
.minute-words { margin: 0 0 0 10px; }
.center { text-align: center; }
.split-dividers{ margin: 15px 0; font-size: 15px; }
.dist-image { margin-right: 25px; }
.clear { clear: both; }
.playtime-differential { font-size: 30px; color: #6c7951; }
.playtime-differential-words { font-size: 14px; }
.dist-divider { font-size: 10px; cursor: pointer; cursor: hand; }
.hidden { display: none; }
.secondary-text { font-size: 18px; margin: 20px 0; }